.add-company-services {
    height: 60px;
    border-radius: 12px !important;
    margin-bottom: 30px;
    box-shadow: none !important;
    outline: none !important
}
.edit-company-services {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #dee2e6;
    height: 60px;
    border-radius: 12px !important;
    box-shadow: none !important;
    outline: none !important
}

.select__control {
    border-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}
.select__control:hover {
    box-shadow: none !important;
    border: 0 !important;
}
.select__indicators {
    display: none !important;
}