.reset-container {
  width: 100%;
  height: 97vh;
  display: grid;
  place-items: center;
  background-color: #F7F9FB;

  .wrapper {
    /* width: 20%; */
    padding: 2rem 3rem;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 20px;
  }

  .logo {
    width: 45%;
  }

  h2 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;

  }

  form {
    display: grid;
    gap: 10px;
  }

  .form input {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #1c1c1c1a;
  }

  .form input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #1c1c1c33;
  }

  .button {
    width: 100%;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .button:hover {
    background-color: #333;
  }

  .button.load {
    cursor: not-allowed;
    opacity: 40%;
  }

  footer {
    font-size: 12px;
    color: #aaa;
  }
}

@media only screen and (max-width: 600px) {
  .reset-container {
    height: 91vh;
  }

  .reset-container .wrapper {
    padding: 2rem;
  }

  .reset-container h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .reset-container .button {
    font-size: 12px;
    line-height: 18px;
  }

  .reset-container .form input::placeholder {
    font-size: 8px;
    line-height: 15px;
  }

  .reset-container .wrapper {
    padding: 1rem 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .reset-container h2 {
    font-size: 20px;
    line-height: 26px;
  }

  .reset-container .button {
    font-size: 15px;
    line-height: 20px;
  }

  .reset-container .form input::placeholder {
    font-size: 10px;
    line-height: 15px;
  }

  .reset-container .wrapper {
    padding: 1rem 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .reset-container .wrapper {
    width: 20%;
  }
}