.sidebar.collapsed{
    width: 70px !important;
}

.sidebar.collapsed ul li span{
    white-space: nowrap;
    text-indent: -9999px;
    position: relative;
}

.sidebar.collapsed ul li span img{
    text-indent: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

.burger-menu{
    position: relative;
    margin-left: 5%;
    border-radius: 8px;
    background-color: #1E2937;       /* Deep dark */
    border: 2px solid white;
    color:white ;
    z-index: 999999;
    padding: 3px 10px;
    transition: all 0.3s ease;
}

.burger-menu-v{
    position: relative;
    margin-top: 50%;
    /* margin-left: 50%; */
    border-radius: 8px;
    background-color: #1E2937;       /* Deep dark */
    border: 2px solid white;
    color:white ;
    z-index: 999999;
    padding: 3px 10px;
    transition:all 0.3s ease;
}

.content{
    width: calc(100% - 250px);
    transition: 0.3s ease;
}

.sidebar.collapsed ~ .content{
    width: calc(100% - 70px);
}

.sidebar.collapsed .burger-menu{
    margin-top: 25%;
    margin-left: 8%;
    transition: 0.3s ease;
}

.sidebar.collapsed .logo img {
    width: 12% !important;
}