@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.login-page {
    background-color: #f7f9fb;
    min-height: 100vh;
}

.login-box {
    background: #fff;
    margin: 60px 0 40px 0;
    padding: 8%;
    border-radius: 24px;
}

.login-logo {
    margin-bottom: 20px;
    text-align: center;
}

.login-logo img {
    width: 75%;
}

.login-box h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 40px;
}

.login-box form input.form-control {
    height: 50px;
    padding: 4px 12px;
    border-radius: 12px;
    border: 1px solid rgb(28 28 28 / 10%);
    margin-bottom: 30px;
    box-shadow: none !important;
    outline: none !important;
}

.forgotpwd {
    margin-bottom: 30px;
}

.forgotpwd a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.login-box form button {
    width: 100%;
    border-radius: 12px;
    background-color: #1c1c1c;
    padding: 12px;
    box-shadow: none !important;
    outline: none !important;
}

.password-field {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.copyright {
    margin-bottom: 30px;
}

.copyright p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(28 28 28 / 40%);
    margin: 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.keep-signed {
    text-align: center;
    margin: 30px 0 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.keep-signed label {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #4f4f4f;
}

.sidebar {
    width: 280px;
    background: #f7f7f7;
    height: 100vh;
    overflow: auto;
    border-right: 1px solid #0000001a;
    float: left;
    transition: all 0.3s;
    left: 0;
}

.sidebar .logo {
    text-align: center;
    padding: 10px 0 20px 0;
    width: 240px;
    margin-left: 40px;
}

.sidebar .logo img {
    width: 90%;
}
.toggle {
    position: fixed;
    width: 30px;
    top: 20px;
    left: 5px;
    z-index: 999999;
    background: #f7f7f7;
    padding: 0px;
    border-radius: 0px 4px 4px 0px;
}
.toggle img {
    width: 100%;
}

.dashboard.active .sidebar {
    left: -280px;
    transition: all 0.3s;
    position: absolute;
}
.dashboard.active .content {
    width: calc(100% - 1px);
    /* transition: all 0.3s; */
}
.dashboard.active header{
    width: calc(100% - 1px);
    padding-left: 40px;
}
.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul li span {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #1c1c1c;
    text-decoration: none;
    padding: 14px;
    display: flex;
    background: #f7f7f7;
    border-bottom: 2px solid #b1bfd3;
    gap: 10px;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 0.3s;
    cursor: pointer;
}

.sidebar ul li span img {
    min-width: 15px;
}

.sidebar ul li li span img {
    min-width: 8px;
}

.sidebar ul ul li span {
    padding-left: 40px;
    min-width: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #1c1c1c;
    background-color: #ffffff;
    border-bottom: none;
}

.sidebar ul li span:hover,
.sidebar ul li span.active {
    background-color: #e5ecf6;
}

.sidebar ul li span.logout {
    color: #eb5757;
    background: #fdecec;
    border-bottom: 1px solid #efc7c7;
}

.content {
    width: calc(100% - 280px);
    float: left;
    height: 100vh;
    overflow: auto;
    /* transition: all 0.3s; */
}

.outlet {
    margin-top: 90px;
}

header {
    position: fixed;
    /* background: transparent; */
    background-color: #fff;
    padding: 14px 20px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    margin-bottom: 30px;
    z-index: 999;
    width: calc(100vw - 280px);
}

.breadcrumb {
    gap: 20px;
    margin: 0;
    margin-top: 10px;
}

.breadcrumb span {
    color: #1c1c1c66;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}

.breadcrumb span:nth-last-of-type(1) {
    color: #1c1c1c;
}

.header-noti {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.header-search span.input-group-text {
    background: transparent;
    background: rgb(28 28 28 / 5%);
}

.header-search span.input-group-text:nth-of-type(1) {
    border-right: none;
}

.header-search span.input-group-text:nth-of-type(2) {
    border-left: none;
}

.header-search input {
    border-left: 0 !important;
    border-right: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    background: rgb(28 28 28 / 5%);
}

.header-search input.form-control:focus {
    background-color: #f3f3f3;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.header-noti .dropdown-toggle::after {
    display: none;
}

.header-noti .dropdown button {
    background-color: transparent;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}

.header-noti .dropdown-menu.show {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(-136px, 42px, 0px);
}

.filter-date {
    margin: -10px 0 10px 0;
}

.filter-date select {
    width: auto;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}

.container-fluid {
    padding: 0 30px;
}

.dash-counter {
    padding: 24px;
    border-radius: 16px;
    background: #e3f5ff;
    margin-bottom: 30px;
}

.dash-counter.gray {
    background: #e5ecf6;
}

.dash-counter span {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    display: block;
    color: #1c1c1c;
}

.dash-counter h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #1c1c1c;
    margin: 0;
}

canvas {
    background: #f7f9fb;
}

.requests-chart {
    background: #f7f9fb;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 30px;
    height: 500px;
}

.chart-heading h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
}

.hotspot {
    background: #e5ecf6;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 30px;
    height: 500px;
}

.hotspot h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
}

.location-list {
    padding-right: 20px;
    height: 90%;
    overflow-y: auto;
}

.location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 10px;
}

.location span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.location .viewlocation {
    font-size: medium;
    cursor: pointer;

    &:hover {
        font-size: large;
    }
}

.location .progress {
    height: 6px;
    background-color: rgb(28 28 28 / 10%);
    border-radius: 80px;
    width: 70%;
}

.location .progress-bar {
    background-color: #1c1c1c;
}

.prof {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profilepicture {
    width: 30px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

table#example {
    margin-top: 30px;
}

.theme-table {
    background: #f7f9fb;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.tab-heading {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-heading .count {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tab-heading h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
}

.tab-heading p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
    background-color: #f3f3f3;
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: 0px 15px;
    border-radius: 5px;
}

.theme-table table thead tr th,
.theme-table table tbody tr td {
    border-color: rgb(0 0 0 / 5%) !important;
    vertical-align: middle;
    line-break: anywhere;
}

.theme-table table thead {
    background: #fff;
}

.theme-table thead tr th,
.theme-table table tr td {
    padding: 12px 20px !important;
}

* {
    color: #1c1c1c;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: #f7f9fb;
    color: #1c1c1c;
}

.tablecontainer{
    width: 100%;
    overflow: auto;
}

.theme-table table thead tr th {
    color: rgb(28 28 28 / 40%);
}

.theme-table table tr td .tbl-btn {
    background: #1c1c1c;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 14px;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

.theme-table table tr td .tbl-btn:hover {
    opacity: 0.8;
}

.theme-table table tr td .tbl-gray {
    background: rgb(28 28 28 / 5%);
    color: #1c1c1c;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 14px;
    border-radius: 8px;
    transition: all 0.3s;
    margin-right: 6px;
    cursor: pointer;
}

.theme-table table tr td .tbl-gray:hover {
    opacity: 0.8;
}

.tbl-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.tbl-filter .input-group span,
.tbl-filter .input-group input {
    background: #f3f3f3;
    box-shadow: none !important;
    outline: none !important;
}

.tbl-filter button {
    width: 200px;
    border: none;
    background: #2f80ed;
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    box-shadow: none !important;
    outline: none !important;
}

.theme-table form input.form-control,
.theme-table form select.form-control {
    height: 60px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: none !important;
    outline: none !important;
}

.saveform .btn-dark {
    background: #1c1c1c;
    padding: 20px 40px;
    width: 300px;
    max-width: 100%;
    transition: all 0.3s;
    outline: none !important;
    box-shadow: none !important;
}

.saveform .btn-dark:hover {
    opacity: 0.8;
}

.saveform {
    margin-bottom: 30px;
}

.company-info {
    display: flex;
    background: #f7f9fb;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 16px;
    align-items: center;
}

.comapny-titles {
    width: 25%;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 20px;
}

.comapny-det {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    background: #fff;
}

.comapny-det .c-info {
    padding: 10px 8%;
    width: 33%;
    border-right: 1px solid #d9d9d9;
}

.comapny-det .c-info span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(28 28 28 / 40%);
}

.comapny-det .c-info p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    line-break: anywhere;
}

.vehiclpic {
    background: #fff;
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid rgb(206 212 218);
}

.vehiclpic span {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    margin-bottom: 8px;
}

.carimages img {
    max-width: 33%;
    width: 33%;
}

.carimages {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
}

button.order_received-btn,
button.delivered-btn,
button.Cancel-btn {
    background: gray;
    width: 140px;
    display: inline-block;
    text-align: center;
    padding: 6px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
    border: none;
}

button.order_received-btn {
    background: #1c1c1c;
}

button.delivered-btn {
    background: #27ae60;
}

button.Cancel-btn {
    background: #eb5757;
}

button.order_received-btn:hover,
button.delivered-btn:hover,
button.Cancel-btn:hover {
    opacity: 0.8;
}

.err {
    text-align: left;
    /* padding: 0; */
    padding: -30px 0 20px 0;
    font-size: 10px;
    line-height: 18px;
    padding-left: 10px;
    color: red;
}

.showpass-icon {
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-left: -30px;
    transform: translateX(-50%);
}

.pagiation {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
}

.pagiation-right {
    margin-right: 7%;
}

.pagiation img {
    width: 12px;
    margin: 0 10px;
}

.pagiation-number button.active,
.pagiation-number button:hover {
    background: #1474b9;
    color: #fff;
}

.pagiation-number button {
    text-decoration: none;
    margin: 0 4px;
    height: 36px;
    width: 36px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    padding: 0;
    border-radius: 50%;
    background: #f2f2f2;
    color: #1c1c1c;
    transition: all 0.3s;
}

.pagiation-left button,
.pagiation-right button {
    text-decoration: none;
    margin: 0 14px;
    color: #1c1c1c;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    transition: all 0.3s;
}

.pagiation-left button:hover,
.pagiation-right button:hover,
.pagiation-left button:disabled,
.pagiation-right button:disabled {
    opacity: 0.7;
}

.theme-table table tbody tr td:nth-last-of-type(1) {
    line-break: unset;
}

.nodata {
    &::after {
        content: "-";
        margin-left: 5px;
    }
}

.companynamenodata {
    &::after {
        content: "Others";
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(1px);
    display: grid;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    gap: 5px;
}

.popup-button {
    width: 80px;
    border-radius: 12px;
    background-color: rgb(28 28 28 / 5%);
    color: #1c1c1c;
    padding: 12px;
    text-decoration: none;
    font-weight: 700;
    box-shadow: none !important;
    outline: none !important;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.fileerror {
    font-size: small;
    color: red;
}

.samplefile {
    width: 100%;
    text-align: left;
    font-size: small;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

.samplefile .icon {
    font-size: small;
    font-weight: 900;
}

.popup-button.confirm {
    color: #eb5757;
    background: #fdecec;
    border-bottom: 1px solid #efc7c7;
}

.popup-button:hover {
    opacity: 0.5;
}

.popup-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.loader {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    background: transparent;
}

.no-data-found {
    margin: 25px;
    text-align: center;
}

.filecontainer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem 2rem;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0.537);
}

.filecontainer button {
    outline: none;
    border: none;
    box-shadow: 0 0 1px rgba(128, 128, 128, 0.167);
    padding: 10px 20px;
    border-radius: 10px;
}

.filecontainer p {
    margin: 0;
    font-weight: 500;
    font-size: medium;
}

.map {
    height: 100vw;
    width: 100vh;
}

@media only screen and (max-width: 1200px) {

    .theme-table thead tr th,
    .theme-table table tr td {
        padding: 12px 10px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .sidebar {
        left: -280px;
        transition: all 0.3s;
        position: absolute;
    }
    .content {
        width: calc(100% - 1px);
    }
    header{
        width: calc(100% - 1px);
    }
    .content {
        width: calc(100% - 1px);
    }
    header {
        width: calc(100vw - 1px);
        padding-left: 40px;
    }
    .dashboard.active .sidebar {
        left: 0px;
        transition: all 0.3s;
        position: absolute;
        z-index: 9999;
    }
    .outlet {
        margin-top: 140px;
    }
}
@media only screen and (max-width: 768px) {
    .tab-heading {
        flex-direction: column;
    }
    .tbl-filter {
        flex-direction: column;
    }
    .tbl-filter button {
        width: 100%;
    }
    .company-info {
        flex-direction: column;
    }
    .comapny-titles {
        width: 100%;
    }
    .comapny-det {
        width: 100%;
        flex-direction: column;
    }
    .comapny-det .c-info {
        width: 100%;
    }
    .saveform {
        text-align: center;
    }
}